<a href="https://colab.research.google.com/github/neorock07/Colouring_Photojadoel/blob/main/Runge_Kutta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#inisiasi variable yg dipakai
f_x_y = [0, 0] #buat list yg nanti digunakan untuk menampung nilai f(xi, yi) hasil dari update nilai saat iterasi
k1 = 0 #inisiasi k1
k2 = 0 #inisiasi k2
k3 = 0 #inisiasi k3
k4 = 0 #inisiasi k4

# formula --> f(x, y) = 2y + 23x
# f(0, 8)

#membuat fungsi yg runge_kutta yg nanti menghitung x, y
def Runge_Kutta(x0, y0, h, n): #x0, y0, h sebagai argumen, jd user bisa input nilai x, y, h manual
  for i in range(0, n): #iterasi 20 kali
    k1 = 2*(y0) + 23*(x0) # menghitung nilai k1
    #update x0, y0
    f_x_y[0] = (x0 + 0.5*h) #menampung nilai f(xi) pd k2 
    f_x_y[1] = (y0 + 0.5*k1*h)#menampung nilai f(yi) pd k2
    k2 = 2*(f_x_y[1]) + 23*(f_x_y[0]) #menghitung k2
    #update x0, y0
    f_x_y[0] = (x0 + 0.5*h)#menampung nilai f(xi) pd k3 
    f_x_y[1] = (y0 + 0.5*k2*h)#menampung nilai f(yi) pd k3
    k3 = 2*(f_x_y[1]) + 23*(f_x_y[0])#menghitung k3
    #update x0, y0
    f_x_y[0] = (x0 + h)#menampung nilai f(xi) pd k4
    f_x_y[1] = (y0 + k3*h)#menampung nilai f(yi) pd k4
    k4 = 2*(f_x_y[1]) + 23*(f_x_y[0])#menghitung k4
    y = y0 + (h/6*(k1 + 2*k2 + 2*k3 + k4)) #menghitung nilai yi baru
    print("y",(i+1)," = ",y) #menampilkan hasil perhitungan yi
    x0 += h #update nilai x0 jd x0+h
    y0 = y #update nilai y0 jd yi
    #kembali ke proses awal lagi sampai n kali

In [3]:
# silahkan ganti bagian ini dengan parameter :: x, y, step_size, iterasi
Runge_Kutta(0, 8, 0.05, 40)

y 1  =  8.871098958333333
y 2  =  9.894285349197048
y 3  =  11.085554334609892
y 4  =  12.462583301109426
y 5  =  14.044908780706521
y 6  =  15.854121978764077
y 7  =  17.91408486570568
y 8  =  20.25116899526933
y 9  =  22.89451943947597
y 10  =  25.876346481858526
y 11  =  29.232247988310988
y 12  =  33.001565681948314
y 13  =  37.22777888769022
y 14  =  41.95893968729101
y 15  =  47.24815383998647
y 16  =  53.15411228196605
y 17  =  59.74167852408732
y 18  =  67.08253782669769
y 19  =  75.255914648713
y 20  =  84.34936555141368
y 21  =  94.45965549259381
y 22  =  105.69372628129615
y 23  =  118.16976688573864
y 24  =  132.01839630641751
y 25  =  147.38397085296037
y 26  =  164.42602890837526
y 27  =  183.32088764035984
y 28  =  204.26340764006952
y 29  =  227.46894314941534
y 30  =  253.17549739539197
y 31  =  281.6461046027132
y 32  =  313.17146252470104
y 33  =  348.0728418396426
y 34  =  386.705301530786
y 35  =  429.4612424305301
y 36  =  476.7743344938176
y 37  =  529.1238571061444
y 38  =  587.0394958653785
y 39  =  651.1066438451203
y 40  =  721.9722603963481